.conversion-history {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $background-color;
    border-radius: 0px 4px 4px 4px;
    width: 1170px;
    min-height: 477px;
    margin-bottom: 110px;
}

.conversion-history__header {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.4;
    margin: 0;
    margin-bottom: 10px;
    padding: 44px 70px 40px 70px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 245px;
        left: 440px;
        width: 289px;
        height: 0px;
        border: 1px solid #C1C2CA;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transform: rotate(90.19deg);
        display: inline-block;
    }
}

.conversion-history__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 18px;
    line-height: 1.3;
    margin: 0;
    margin-bottom: 28px;
    padding: 0 69px 0 70px;
}

.conversion-history__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    width: 515px;
    margin: 0;
    margin-bottom: 22px;

    &:nth-child(2n) {
        margin-left: auto;
        padding-left: 123px;
    }
}

.conversion-history__date {
    margin: 0;
    margin-right: 40px;
    min-width: 91px;
}

.conversion-history__input-amount {
    margin: 0;
    margin-right: 53px;
    min-width: 91px;
    padding: 0;
    padding-right: 10px;
}

.conversion-history__output-amount {
    min-width: 117px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 3px;
        left: -53px;
        width: 40px;
        height: 16px;
        background-image: url("../../img/arrow.svg");
        display: inline-block;
    }
}

.conversion-history__button {
    justify-self: flex-end;
    font-size: 16px;
    line-height: 1.17;
    width: 198px;
    min-height: 51px;
    padding: 18px 29px 15px 25px;
    margin: 0;
    margin-left: 70px;
    margin-bottom: 39px;
}