//Viewports

$small: 320px;
$large: 1280px;

//Project colors

$basic-white: #ffffff;
$basic-black: #000000;
$basic-bright: #F1BD45;
$background-color: #C4C4C4;
$blue: #5375B7;
$dark-grey: #333333;
$light: #FFF3D8;
$light-grey: #8B8B8B;
$line-through-color: #A9A9A9;
$border-color: #DEDEDE;


// Fonts

$main-font: "Arial", "Helvetica", sans-serif;
